.btn-circle {
  width: 75px;
  height: 75px;
  /* padding: 10px 16px; */
  border-radius: 45px;
  font-size: 12px;
  text-align: center;
  margin-right: 15px;
  border: none;
  transition-duration: 0.4s;
}

.btn-circle:hover {
  background-color: antiquewhite
}